/* cards style */
.cards-content .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cards-content .projects .project-card {
  width: 250px;
  background-color: var(--card);
  padding: 15px 15px;
  border-radius: var(--border-radus);
  border: 2px solid #444;
  transition: 300ms;
  margin: 2%;
}
.cards-content .projects .project-card .title {
  padding-bottom: 3px;
  font-weight: bold;
}
.cards-content .projects .project-card p {
  color: var(--text);
}
.cards-content .projects .project-card .progress {
  border-radius: var(--border-radus);
  margin: 10px 0;
  overflow: hidden;
}
/* .cards-content .projects .project-card .{
  height: 100%;
  background-color: var(--blue);
  text-align: center;
  color: white;
} */
.cards-content .projects .project-card .dates {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text);
}
.cards-content .projects .project-card:hover {
  transform: scale(1.03);
}


.progress-bar {
  height: 100%;
  text-align: center;
  color: white;
  width: 100%;
  position: relative;
  background: gray;
  width: 200px;
  height: 25px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percent{
  position: relative;
  z-index: 1;
}

.bar{
 
  background: var(--blue);
  width:var(--i);
  height: 100%;
  left: 0;
  top:0;
  position: absolute;
  z-index: 0;
}

.progress {
  height: 100%;
  border-radius: var(--border-radus);
  margin: 10px 0;
  overflow: hidden;
}