.page {
  background-color: var(--background);
  flex-grow: 1;
}
.content {
  width: 100%;
}
.container {
  width: 100%;
  background-color: var(--background);
  margin: 0;
  padding: 1%;
}
.container .title {
  color: var(--blue);
  padding-bottom: 3px;
}
.container .header {
  display: flex;
  gap: 3%;
  align-items: center;
}
.container .header .add-project {
  text-align: center;
  background-color: var(--blue);
  color: var(--text);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: var(--border-radus);
}
.container .header .search-bar {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: var(--border-radus);
}
.container .header .status {
  background-color: var(--status);
  color: var(--background);
  border-radius: var(--border-radus);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.container .header .status option {
  background-color: var(--status);
  color: var(--background);
}
